
      <a href="/"><img src="{{site.url}}/assets/logo.png" alt="Joime" />
      <br>
      <h2 id="title">API Documentation</h2>
      <small>Base url: <b>https://joime.net/api/v2</b></small>
      <br>
      <h4 class="api-header">joime</h4>
      <p><a href="/api/content/">Content</a></p>
      <p><a href="/api/spaces/">Spaces</a></p>
      <p><a href="/api/photos/">Photos</a></p>
      <p><a href="/api/address/">Address</a></p>
      <h4 class="api-header">Consumers</h4>
      <p><a href="/api/app_authentication/">App Authentication</a></p>
      <br>
  
